
p {
    font-size: 50px;
    font-family: Palatino;
}

.dog-title {
    font-size: 24px;
    font-family: Avenir;

}

.dog-desc {
    font-size: 12px;
    font-family: Avenir;

}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: ""; 
    display: table;
    clear: both;
}

.row {
    margin-bottom: 10px;
}

body {
    background-color: rgb(255, 239, 185);
    margin-left: 50px;
    margin-right: 100px;
}


